@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <nav>
            <ul class="navbar">
                <a href="../Home/Index" class="btn btn-primary btn-md">Home</a>
                <a href="../Home/Education" class="btn btn-primary btn-md">Education</a>
                <a href="../Home/Personal" class="btn btn-primary btn-md">Personal</a>
                <a href="../Home/Projects" class="btn btn-primary btn-md">Projects</a>
                <a href="../Home/Reference" class="btn btn-primary btn-md">Reference</a>
            </ul>
        </nav>

        <h1 id="title">About</h1>
    </section>
</main>