@{
    ViewBag.Title = "Education";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <nav>
            <ul class="navbar">
                <a href="../Home/Index" class="btn btn-primary btn-md">Home</a>
                <a href="../Home/Education" class="btn btn-primary btn-md">Education</a>
                <a href="../Home/Personal" class="btn btn-primary btn-md">Personal</a>
                <a href="../Home/Projects" class="btn btn-primary btn-md">Projects</a>
                <a href="../Home/Reference" class="btn btn-primary btn-md">Reference</a>
            </ul>
        </nav>

        <h1 id="title">Education Details</h1>
    </section>

    <div class="container mt-5">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Degree</th>
                    <th>Graduation Year</th>
                    <th>Institution</th>
                    <th>Gread</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bachelor of Science</td>
                    <td>2024</td>
                    <td>American International University-Bangladesh (AIUB)</td>
                    <td>CGPA 3</td>
                </tr>
                <tr>
                    <td>HSC</td>
                    <td>2020</td>
                    <td>Narayanganj College</td>
                    <td>Gpa 4.25</td>
                </tr>
                <tr>
                    <td>SSC</td>
                    <td>2018</td>
                    <td>I.E.T Govt High School</td>
                    <td>Gpa 4.28</td>
                </tr>
            </tbody>
        </table>

    </div>


</main>