@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <nav>
            <ul class="navbar">
                <a href="../Home/Index" class="btn btn-primary btn-md">Home</a>
                <a href="../Home/Education" class="btn btn-primary btn-md">Education</a>
                <a href="../Home/Personal" class="btn btn-primary btn-md">Personal</a>
                <a href="../Home/Projects" class="btn btn-primary btn-md">Projects</a>
                <a href="../Home/Reference" class="btn btn-primary btn-md">Reference</a>
            </ul>
        </nav>

        <h1 id="title">Home Page</h1>
    </section>

    <div class="container mt-5">
        <table class="table table-bordered">
            <tbody class="col-md-2">
                <tr>
                    <th>Name</th>
                    <td>Shahriar Hasan Sahil</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>21-44824-1</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>21-44824-1@student.aiub.edu</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>