@{
    ViewBag.Title = "Personal";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <nav>
            <ul class="navbar">
                <a href="../Home/Index" class="btn btn-primary btn-md">Home</a>
                <a href="../Home/Education" class="btn btn-primary btn-md">Education</a>
                <a href="../Home/Personal" class="btn btn-primary btn-md">Personal</a>
                <a href="../Home/Projects" class="btn btn-primary btn-md">Projects</a>
                <a href="../Home/Reference" class="btn btn-primary btn-md">Reference</a>
            </ul>
        </nav>

        <h1 id="title">Personal Information</h1>
    </section>

    <fieldset class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="text-align: left">Name :</td>
                            <td style="text-align: left">
                                Jay K. Hofer
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Father Name :</td>
                            <td style="text-align: left">
                                Darrell L. Means
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Mother Name :</td>
                            <td style="text-align: left">
                                Priscilla R. Trainor
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Present Address :</td>
                            <td style="text-align: left">
                                4561 Augusta Park
                                Charleston, WV 25301
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Permanent Address :</td>
                            <td style="text-align: left">
                                4561 Augusta Park
                                Charleston, WV 25301
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Mobile Number :</td>
                            <td style="text-align: left">
                                304-781-9919

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left"> Email :</td>
                            <td style="text-align: left">
                                sahilhasan181818@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left"></td>
                            <td style="text-align: left"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">DOB :</td>
                            <td style="text-align: left">
                                December 4, 1966

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Sex :</td>
                            <td style="text-align: left">
                                Male
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Nationality :</td>
                            <td style="text-align: left">
                                Bangladeshi
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Religion :</td>
                            <td style="text-align: left">
                                Islam
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Marital Status :</td>
                            <td style="text-align: left">
                                Single
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">Blood Group :</td>
                            <td style="text-align: left">
                                Apos
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left"></td>
                            <td style="text-align: left"></td>
                        </tr>
                    </tbody>
                </table>
           
    </fieldset>

</main>